/*
 * Global site styles
 */
body { 
    background: #fff;
    color: #111;
    /*font-family: "Comic Sans MS";*/
    font-family: "Helvetica Neue",Helvetica,Arial,default;
    font-size: 10pt; 
}
body #body .uniForm input[type=submit],
body #body button {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ddd;
    background: -moz-linear-gradient(center top, #fff, #ccc) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff), to(#ccc));
    -moz-box-shadow: 2px 2px 2px #ddd;
    -webkit-box-shadow: 2px 2px 2px #ddd;
    box-shadow: 2px 2px 2px #ddd;
    font-weight: bold;    
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 5px;
    border: 1px solid #999;
    cursor: pointer;
    font-size: 15px;
}
body #body .uniForm input[type=submit] {
    margin-top: 10px;
    margin-left: 25ex;
}
h3 { margin: 0; }

body #body input[type="text"], body #body input[type="password"], body #body textarea {
    color: #333;
}

#tabhead { background: #111; }
#tabhead .logo { height: 95px; color: #fff; font-family: "Comic Sans MS"; padding: 0; }
#tabhead .logo a { background: transparent url(../img/badger-logo-working.png) no-repeat 0 0; line-height: 95px; padding-left: 120px; text-decoration: none; }
#tabhead .logo a, #tabhead .logo a:visited { display: block; text-decoration: none; border: 0; font-size: 50px; color: #fff; }

ul.tabs li { background-color: #eee; }
#right_tabs ul.tabs li { background-color: #ddd; }

#tabhead .login, #tabhead .login a, #tabhead .login a:visited, #tabhead .login a:hover { color: #333; }
body.profile #tab_profile, body.blogs #tab_blogs, body.swaps #tab_swaps, body.photos #tab_photos, body.tribes #tab_tribes, body.tweets #tab_tweets, body.bookmarks #tab_bookmarks, body.locations #tab_locations, body.inbox #tab_inbox { background: #eee; }

#tabhead .login {
    background: #eee;
    padding: 10px 10px 10px 10px;
    right: 0px; top: 0px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}

#subnav { 
    background: #ddd; border-bottom: 1px solid #333; margin: 0; padding: 0; 
}

div.groups, div.friends { background: #ddd }

#body { width: auto; padding: 20px 30px 20px 30px }
#body .crumbs { margin: -10px 0 1em 0 }
#footer { width: auto; padding: 20px 30px 20px 30px }

form.uniForm fieldset.inlineLabels label { width: 26ex; text-align: right; margin-right: 1ex}
form.uniForm fieldset.inlineLabels .formHint { margin-left: 31ex; }
body #body form.uniForm fieldset.inlineLabels .form_block button:first-child { margin-left: 25.5ex; }
form.uniForm fieldset.inlineLabels .form_block input[type="submit"]:first-child { margin-left: 19.5ex; }
form.uniForm input[type="submit"], form.login input[type="submit"] { font-size:14pt; margin:20px 0; }


.main_activities .activities {
    width: 75%;
    list-style-type: none;
    margin: 0; padding: 0; text-indent: 0;
    clear: both;
}
.main_activities .activities li {
    width: 33%;
    float: left;
}
.main_activities .activities li a, a.button {
    display: block;
    font-size: 150%;
    margin: 0.25em; padding: 0.5em;
    -moz-border-radius: 8px 8px 8px 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ddd;
    background: -moz-linear-gradient(center top, #fff, #e8e8e8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff), to(#e0e0e0));
    -moz-box-shadow: 2px 2px 2px #dedede;
    -webkit-box-shadow: 2px 2px 2px #dedede;
    box-shadow: 2px 2px 2px #dedede;
}
a.button:hover {
}
.main_activities .activities li a:hover {
}


.badge.full { border: 4px solid #ddd; width: 350px; border-radius: 4px; -moz-border-radius: 8px; padding: 0; margin: 0 1em 0 0; position: absolute }
.badge.full h2 { margin: 0; padding: 0.25em 0 0.25em 0; text-align: center; background: #ddd; }
.badge.full .image { width: 100%; text-align: center; background: #fff; }
.badge.full .image img { margin: 1em; }
.badge.full p.description { background: #fff; border-top: 4px solid #ddd; padding: 0.75em 0.75em 0.75em 0.75em; margin: 0; text-align: center; }
.badge.full .metadata { border-top: 4px solid #ddd; background: #ddd; text-align: center }
.badge.full .metadata .creator { padding: 0.5em; margin: 0; }
.badge.full .metadata .creator .fn { }
.badge.full .metadata .tags { margin: 0.5em 0.5em 0 0 }
.badge.full .metadata .tags ul { margin: 0; padding: 0; text-indent: 0; display: inline; }
.badge.full .metadata .tags ul li { display: inline; padding: 0 0 0 0 }

.badge.full .metadata p { margin: 0; padding: 0; }
.badge.full .metadata .votes { }
.badge.full .metadata .votes .vote_actions { display: block; }
.badge.full .metadata .votes .vote_actions form { display: inline; }
.badge.full .metadata .votes .vote_actions form input { width: 75px; font-size: 150%; }

.badge .metadata .button, .badge .metadata input[type='submit'] {
    font-size: 125%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    border: 2px solid #ccc;

    background: #ddd;
    background: -moz-linear-gradient(center top, #fff, #e8e8e8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff), to(#e0e0e0));
}
.badge .metadata .button:hover {
    border: 2px solid #aaa;
}
.badge .metadata .button[disabled] {
    color: #999;
    border: 2px solid #d0d0d0;
    background: #d8d8d8;
}
.badge .metadata table { width: 100%; margin: 1em 0 1em 0 }
.badge .metadata table th { text-align: right; padding: 0 0.5em 0.75em 0 }
.badge .metadata table td { text-align: left;  padding: 0 0 0.75em 0  }

.badge .edit_badge { position: absolute; right: 5px; top: 2px; background: #fff; padding: 2px 5px; font-size: 0.9em; display: block }

.sections { margin: 0 0 0 375px; padding: 0.5em 1em;  border: 2px solid #ccc; -moz-border-radius: 8px; }
.sections h3 { font-size: 1.5em; margin: 0 0 0.25em 0 }
.sections .section { margin: 0 0 1em 0; padding: 0 0 1em 0; border-bottom: 1px dotted #ccc; }
.sections div:last-child.section { border-bottom: none }

#body .ui-widget { font-family: inherit; font-size: 1em; }

.badge_detail .claimed_by { position: relative; clear: both; }
.badge_detail .claimed_by .feed { }
.badge_detail .profiles { margin: 0; padding: 0; text-align: center; list-style-type: none }
.badge_detail .profiles li { float: left; margin: 0.25em; position: relative; }
.badge_detail .profiles li { }
.badge_detail .profiles li .avatar { display: block; width: 100px; height: 90px; }
.badge_detail .profiles li .avatar img { }
.badge_detail .profiles li .fn { display: block }
.badge_detail .profiles li .count { position: absolute; top: -10px; right: 0px; width: 25px; height: 25px; line-height: 25px; background: #080; color: #eee; -moz-border-radius: 25px; }
.badge_detail .profiles li .count a { display: block; text-decoration: none; color: #eee; font-weight: bold; }

.comments { }    
.comments fieldset { border: none; }
.claim_badge { }    
.claim_badge label { display: inline; }
.award_detail .claim_badge { }
.award_detail .comments { }

.profile div.left_panel { width: auto; }

.profile ul.awarded_badges { margin: 0; padding: 0; text-align: center; list-style: none; }
.profile ul.awarded_badges li { float: left; margin: 0.75em; position: relative; border: 4px solid #ccc; background: #fff; text-align: center; -moz-border-radius: 8px; width: 125px }
.profile ul.awarded_badges li .icon { display: block; padding: 0.75em 0.25em }
.profile ul.awarded_badges li .icon img { height: 80px; }
.profile ul.awarded_badges li .name { display: block; padding: 0.25em; background: #ccc; height: 2.75em; font-weight: bold; overflow:hidden; }
.profile ul.awarded_badges li .count { position: absolute; top: -15px; right: -15px; width: 25px; height: 25px; line-height: 25px; background: #080; -moz-border-radius: 25px; }
.profile ul.awarded_badges li .count a { display: block; text-decoration: none; color: #eee; font-weight: bold; }

.home .recent_awards { list-style-type: none; margin: 0; padding: 0;}
.home .recent_awards li { position: relative; text-align: center; margin: 0.5em; border: 2px solid #ccc; border-radius: 8px; -moz-border-radius: 8px; float: left; background: #fff;}
.home .recent_awards li .when { display: block; background: #ccc; color: #000; font-size: 80%; text-align: center; font-weight: normal; }
.home .recent_awards li .avatar { float: left; text-align: right; margin: 0.5em; }
.home .recent_awards li .avatar a { display: inline; }
.home .recent_awards li .action { float: left; text-align: center; font-size: 115%; font-weight: bold; line-height: 64px; padding: 0 0.5em 0 0.5em; }
.home .recent_awards li .badge { float: left; text-align: left; margin: 0.5em; }
.home .recent_awards li .badge a { display: inline; }

.badge_detail .pending_awards li { margin-bottom: 1.5em; }

.badge_list .badges { margin: 1em 0 0 0; padding: 0; text-align: center; }
.badge_list .badges li { float: left; margin: 0.75em; list-style:none; border: 4px solid #ccc; text-align: center; -moz-border-radius: 8px; width: 125px }
.badge_list .badges li .icon { display: block; height: 90px; padding: 0.75em 0.25em; background: #fff; }
.badge_list .badges li .icon img { height: 80px; }
.badge_list .badges li .name { display: block; font-weight: bold; padding: 0.25em; background: #ccc; height: 2.75em; overflow: hidden }

.pagination { clear: both }

.tags { }

.tag-cloud { 
    list-style: none;
    margin: 0.75em; 
    padding: 0.5em;
    text-indent: 0;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.tag-cloud li { display: inline; padding: 0 0.25em 0 0; white-space: nowrap; }
.tag-cloud li a { }
.tag-cloud li.size-1 a { font-size: 90%; }
.tag-cloud li.size-2 a { font-size: 100%; }
.tag-cloud li.size-3 a { font-size: 120%; }
.tag-cloud li.size-4 a { font-size: 130%; }
.tag-cloud li.size-5 a { font-size: 140%; }
.tag-cloud li.size-6 a { font-size: 150%; }
.tag-cloud li.size-7 a { font-size: 160%; }
.tag-cloud li.size-8 a { font-size: 170%; }
.tag-cloud li.size-9 a { font-size: 200%; }
.tag-cloud li.size- a { font-size: 200%; }

.badge_awards .badges { margin: 1em 0 0 0; padding: 0; text-align: center; }
.badge_awards .badges li { float: left; margin: 0.25em; list-style:none; border: 4px solid #ccc; text-align: center; -moz-border-radius: 8px; width: 125px}
.badge_awards .badges li .icon { display: block; width: 100%; height: 90px; border-bottom: 4px solid #ccc; background: #fff; }
.badge_awards .badges li .icon img { padding: 0.25em; }
.badge_awards .badges li .name { display: block; font-weight: bold; padding: 0.25em 0.5em; background: #ccc; height: 3.5em }

.award_list {}
.award_list ul.awards { list-style: none; margin: 0 0 0 375px; padding: 0; }

.award_display_full {  }

.award_display_full p.reason_why, .award_display_full p.approved_why { font-size: 95%; margin: 1em 0.25em 0.75em 3em; padding: 0.25em 0.5em; font-style: italic; border-left: 2px #aaa solid; background: #eee; }
.award_display_full .when { font-size: 85%; }

.award_detail .award_display_full { margin: 0 0 0 375px }

#body .openid_large_btn { height: 30px; }
#body #openid_input_area { padding: 0px; }
#body form#openid_form input[type="submit"] { margin: 0px }


