/*
 * Global site styles
 */
body { font-family: "Comic Sans MS"; font-size: 13px; }
body #body button { 
    font-family: "Comic Sans MS"; font-size: 1.125em; font-weight: bold; 
    padding: 0.5em 1em 0.5em 1em;
    margin: 5px;
    border: 1px solid #999;
    cursor: pointer;
}

#tabhead { background: #000000; }
#tabhead .logo { height: 79px; color: #fff; }
#tabhead .logo a { background: transparent url(../img/badgers.jpg) no-repeat -5px -55px; line-height: 79px; padding-left: 240px; text-decoration: none; }
#tabhead .logo a, #tabhead .logo a:visited { font-underline: none; border: 0; font-size: 50px; color: #fff; }

ul.tabs li { background-color: #d8d8d8; }

#tabhead .login, #tabhead .login a, #tabhead .login a:visited { color: #ddd; }
body.profile #tab_profile, body.blogs #tab_blogs, body.swaps #tab_swaps, body.photos #tab_photos, body.tribes #tab_tribes, body.tweets #tab_tweets, body.bookmarks #tab_bookmarks, body.locations #tab_locations, body.inbox #tab_inbox { background: #eee; }

#tabhead .login {
    background: #333;
    padding: 10px 10px 10px 10px;
    right: 0px; top: 0px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
}

#subnav { background: #eee; border-bottom: 1px solid #999; margin: 0; padding: 0; }

div.groups, div.friends { background: #ddd }

#body { width: auto; padding: 20px 30px 20px 30px }
#body .crumbs { margin: -10px 0 1em 0 }
#footer { width: auto; padding: 20px 30px 20px 30px }

form.uniForm fieldset.inlineLabels label { width: 26ex; text-align: right; margin-right: 1ex}
form.uniForm fieldset.inlineLabels .formHint { margin-left: 31ex; }
body #body form.uniForm fieldset.inlineLabels .form_block button:first-child { margin-left: 25.5ex; }
form.uniForm fieldset.inlineLabels .form_block input[type="submit"]:first-child { margin-left: 19.5ex; }
form.uniForm input[type="submit"], form.login input[type="submit"] { font-size:14pt; margin:20px 0; }

.badge.full { border: 4px solid #ddd; width: 350px; border-radius: 4px; -moz-border-radius: 8px; padding: 0; margin: 0 1em 0 0; float: left; }
.badge.full h2 { margin: 0; padding: 0.25em 0 0.25em 0; text-align: center; background: #ddd; }
.badge.full .image { width: 100%; text-align: center;}
.badge.full .image img { margin: 1em; }
.badge.full p.description { border-top: 4px solid #ddd; padding: 0.75em 0.75em 0.75em 0.75em; margin: 0; text-align: center; }
.badge.full .metadata { border-top: 4px solid #ddd; background: #ddd; text-align: right; }
.badge.full .metadata .creator { padding: 0.5em; margin: 0; font-size: 0.85em; }
.badge.full .metadata .creator .fn { }

.badge_detail .badge { position: relative; }
.badge_detail .badge .edit_badge { position: absolute; right: 5px; top: 2px; background: #fff; padding: 2px 5px; font-size: 0.9em; display: block }

ul.sections { margin-left: 375px; }
ul.sections h3 { padding-left: 1.5em; font-size: 1.5em; }

#body .ui-widget { font-family: inherit; font-size: 1em; }

.badge_detail .profiles { margin: 0; padding: 0; text-align: center; }
.badge_detail .profiles li { float: left; margin: 0.25em; position: relative; }
.badge_detail .profiles li { }
.badge_detail .profiles li .avatar { display: block; width: 100px; height: 90px; }
.badge_detail .profiles li .avatar img { }
.badge_detail .profiles li .fn { display: block }
.badge_detail .profiles li .count { position: absolute; top: -10px; right: 0px; width: 25px; height: 25px; line-height: 25px; background: #080; color: #eee; -moz-border-radius: 25px; }
.badge_detail .profiles li .count a { display: block; text-decoration: none; color: #eee; font-weight: bold; }

.profile div.left_panel { width: auto; }

.profile ul.awarded_badges { margin: 0; padding: 0; text-align: center; list-style: none; }
.profile ul.awarded_badges li { float: left; margin: 0.75em; position: relative; border: 4px solid #ccc; text-align: center; -moz-border-radius: 8px; width: 125px }
.profile ul.awarded_badges li .icon { display: block; padding: 0.75em 0.25em }
.profile ul.awarded_badges li .icon img { height: 80px; }
.profile ul.awarded_badges li .name { display: block; padding: 0.25em; background: #ccc; height: 2.75em; font-weight: bold; }
.profile ul.awarded_badges li .count { position: absolute; top: -15px; right: -15px; width: 25px; height: 25px; line-height: 25px; background: #080; -moz-border-radius: 25px; }
.profile ul.awarded_badges li .count a { display: block; text-decoration: none; color: #eee; font-weight: bold; }

.badge_detail .pending_awards li { margin-bottom: 1.5em; }

.badge_index .badges { margin: 1em 0 0 0; padding: 0; text-align: center; }
.badge_index .badges li { float: left; margin: 0.75em; list-style:none; border: 4px solid #ccc; text-align: center; -moz-border-radius: 8px; width: 125px }
.badge_index .badges li .icon { display: block; height: 90px; padding: 0.75em 0.25em }
.badge_index .badges li .icon img { height: 80px; }
.badge_index .badges li .name { display: block; font-weight: bold; padding: 0.25em; background: #ccc; height: 2.75em }

.badge_awards .badges { margin: 1em 0 0 0; padding: 0; text-align: center; }
.badge_awards .badges li { float: left; margin: 0.25em; list-style:none; border: 4px solid #ccc; text-align: center; -moz-border-radius: 8px; width: 125px}
.badge_awards .badges li .icon { display: block; width: 100%; height: 90px; border-bottom: 4px solid #ccc; }
.badge_awards .badges li .icon img { padding: 0.25em; }
.badge_awards .badges li .name { display: block; font-weight: bold; padding: 0.25em 0.5em; background: #ccc; height: 3.5em }

.award_list {}
.award_list ul.awards { list-style: none; margin: 0 0 0 375px; padding: 0; }
.award_list ul.awards li { margin: 0 0 0.5em 0; padding: 0.5em 0.75em; border: 2px #ccc solid; -moz-border-radius: 8px; }


