{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}openid-selector/css/openid.css" />
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}openid-selector/js/openid-jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            openid.img_path = "{{ STATIC_URL }}openid-selector/images/";
	        // openid.init('openid_url');
	    });
    </script>
{% endblock %}

{% block body %}
    
    {% if openid and not user.is_authenticated %}
        <p><span class="warning">It appears you have started to login using OpenID. Want to <a href="/openid/register/">finish logging in</a>?</span></p>
    {% endif %}
    
    <h1>{% trans "Log In" %}</h1>

    <div>
        <p>{% trans "Connect with one of these services" %}:</p>
        <a href="{% url auth_twitter_signin %}"><img src="{{ STATIC_URL }}socialconnect/img/sign-in-with-twitter-l.png" /></a>
        <a href="{% url auth_facebook_signin %}"><img src="{{ STATIC_URL }}socialconnect/img/facebook-login-button.png" /></a>
    </div>
    
    <p>{% trans "Or, sign in with your OpenID" %}:</p>
    {# @@@ why isn't this just does as a form object ? #}
    <form class="login uniForm" id="openid_form" action="/openid/register/" 
            method="POST">
        {% csrf_token %}
            <div id="openid_btns"></div>
            <div id="openid_input_area">
				<input id="openid_url" name="openid_url" type="text" value="http://" />
				<input id="openid_submit" type="submit" value="Sign-In"/>
			</div>
    </form>
    
    <p>
        {% trans "Or, sign in with a local account" %}
        {% if user.is_authenticated %}
            {% user_display user as user_display %}
            (<span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %})
        {% else %}
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            {% url acct_passwd_reset as acct_passwd_reset %}
            ({% blocktrans %}Don't have an account? <a href="{{ signup_url }}?{{ redirect_field_name }}={{ redirect_field_value }}">Sign up!</a>{% endblocktrans %} {% blocktrans %}Or, have you <a href="{{ acct_passwd_reset }}">forgotten your password</a>?{% endblocktrans %})
            {% endifsetting %}
        {% endif %}
    </p>
    <form class="login uniForm" method="POST" action="{% url acct_login %}">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form_block">
                
            </div>
            <div class="form_block">
                <input type="submit" value="{% trans "Log in &raquo;" %}" />
            </div>
        </fieldset>
    </form>
    
    <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}
