{% load i18n %}
{% load avatar_tags %}
{% load badge_tags %}
{% load humanize i18n %}
{% load uni_form_tags %}
{% load humanize i18n %}
{% load timezone_filters %}

<div class="award_display_full">

    <div class="nomination">
        <span class="when">{{ award.nomination.created_at|naturalday:_("MONTH_DAY_FORMAT")|capfirst }} at {{ award.nomination.created_at|localtime:account.timezone|time:"P" }},</span>
        <a href="{{ award.nomination.nominator.get_absolute_url }}" class="avatar"><img src="{% avatar_url award.nomination.nominator 16 %}" alt="Photo of {{ award.nomination.nominator }}" class="photo" /></a>
        <a href="{{ award.nomination.nominator.get_absolute_url }}">{{ award.nomination.nominator }}</a>
        <a href="{{ award.nomination.get_absolute_url }}">nominated</a>
        <a href="{{ award.nomination.nominee.get_absolute_url }}" class="avatar"><img src="{% avatar_url award.nomination.nominee.user 16 %}" alt="Photo of {{ award.nomination.nominee.user }}" class="photo" /></a>
        <a href="{{ award.awardee.user.get_absolute_url }}">{{ award.awardee.user }}</a>
        for this badge{% if not award.nomination.reason_why %}.{% else %}, because:
        <p class="reason_why">{{ award.nomination.reason_why }}</p>{% endif %}
    </div>

    <div class="approval">
        <span class="when">{{ award.nomination.updated_at|naturalday:_("MONTH_DAY_FORMAT")|capfirst }} at {{ award.nomination.updated_at|localtime:account.timezone|time:"P" }},</span>
        <a href="{{ award.nomination.approved_by.get_absolute_url }}" class="avatar"><img src="{% avatar_url award.nomination.approved_by 16 %}" alt="Photo of {{ award.nomination.approved_by }}" class="photo" /></a>
        <a href="{{ award.nomination.approved_by.get_absolute_url }}">{{ award.nomination.approved_by }}</a>
        approved the
        <a href="{{ award.nomination.get_absolute_url }}">nomination</a>{% if not award.nomination.approved_why %}.{% else %}, because:
        <p class="approved_why">{{ award.nomination.approved_why }}</p>{% endif %}
    </div>

    <div class="claim">
    {% if award.claimed %}
        <span class="when">{{ award.updated_at|naturalday:_("MONTH_DAY_FORMAT")|capfirst }} at {{ award.updated_at|localtime:account.timezone|time:"P" }}, </span>
        <a href="{{ award.nomination.nominee.get_absolute_url }}" class="avatar"><img src="{% avatar_url award.nomination.nominee.user 16 %}" alt="Photo of {{ award.nomination.nominee.user }}" class="photo" /></a>
        <a href="{{ award.awardee.user.get_absolute_url }}">{{ award.awardee.user }}</a>
        claimed this <a href="{{ award.get_absolute_url }}">award</a>.
    {% else %}
        <p>This award has not yet been claimed.</p>
    {% endif %}
    </div>

</div>
    {% if not award.claimed and permissions.claim %}
        <div class="claim_badge">
            <h3>Claim this badge</h3>
            <form action="" method="POST" id="nomination-claim-form" class="uniForm">
                {% csrf_token %}
                <fieldset>
                    <p>You are eligible to claim this badge! What would you like to do about it?</p>
                    <div>
                        <button type="submit" name="action_claim_award">Claim</button>
                        <button type="submit" name="action_reject_award">Reject</button>
                        <button type="submit" name="action_ignore_award">Ignore</button>
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
