{% load humanize i18n %}
{% load i18n %}
{% load badge_tags %}

<div class="badge full">
    <h2><a href="{{badge.get_absolute_url}}">{{ badge.title }}</a></h2>
    <div class="image">
        {% badge_image badge 256 %}
    </div>
    <p class="description">{{ badge.description }}</p>
    <div class="metadata">
        <p class="creator">Created by: 
            <a class="fn" href="{{badge.creator.get_profile.get_absolute_url}}">{{badge.creator.get_profile}}</a></p>
            {% if permissions.editing %}<a class="edit_badge" href="{% url badge_edit badge.slug %}">Edit</a>{% endif %}
    </div>
</div>
