{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load badge_tags %}
{% load uni_form_tags %}
{% load group_tags %}
{% load tagging_tags %}
{% load humanize i18n %}
{% load timezone_filters %}

{% block head_title %}{% trans "Award details" %}{% endblock %}

{% block body %}
    <div class="award_list">

        <div class="crumbs">
            <a href="{% url badge_index %}">Badges</a> 
            &gt;
            <a href="{{ badge.get_absolute_url }}">{{ badge.title }}</a>
            &gt;
            <a href="{{ award_user.get_absolute_url }}">{{ award_user.username }}</a>
            &gt;
            <b>Award history</b>
        </div>

        {% with badge as badge %}
            {% include "badges/elements/badge_display_full.html" %}
        {% endwith %}

        <ul class="awards">
            {% for award in awards %}
                <li>
                    {% include "badges/elements/award_display_full.html" %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
