{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load badge_tags %}
{% load uni_form_tags %}
{% load tagging_tags %}
{% load humanize i18n %}
{% load timezone_filters %}
{% load comments_tag %}

{% block head_title %}{% trans "Award details" %}{% endblock %}

{% block body %}
    <div class="award_detail">

        <div class="crumbs">
            <a href="{% url badge_index %}">Badges</a> 
            &gt;
            <a href="{{ award.badge.get_absolute_url }}">{{ award.badge.title }}</a>
            &gt;
            <a href="{{ award.awardee.get_absolute_url }}">{{ award.awardee }}</a>
            &gt;
            <b>Award detail</b>
        </div>

        {% with award.badge as badge %}
            {% include "badges/elements/badge_display_full.html" %}
        {% endwith %}

        {% include "badges/elements/award_display_full.html" %}

        <div class="comments">{% comments award %}</div>

    </div>
{% endblock %}
