{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Create a badge" %}{% endblock %}

{% block body %}
    <h1>{% trans "Create a badge" %}</h1>

    <form action="" method="POST" id="badge-form" class="uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" name="action_create" 
                    value="{% trans "Create" %}" />
            </div>
        </fieldset>
    </form>

{% endblock %}
