{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Create a badge" %}{% endblock %}

{% block body %}
    <h1>{% trans "Create a badge" %}</h1>

    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="wide_fields"><legend>Badge details</legend>
            <ul class="fields">
                {{form.as_ul}}
                <li class="submit"><button type="submit">Create</button></li>
            </ul>
        </fieldset>
    </form>
    
{% endblock %}
