{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Badge details" %}{% endblock %}

{% block body %}
    <h1>{% trans "Badge details" %}</h1>

    <div>
        <h2>{{ badge.title }}</h2>
        <p>{{ badge.description }}</p>

        <div>
            <h3>Awarded to</h3>
            <ul>
                {% for award in awards %}
                    <li>{{ award.awardee }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Nominations</h3>
            <ul>
                {% for nomination in nominations %}
                    <li><a href="{% url badge_nomination nomination.badge.slug nomination.nominee.username %}">{{ nomination.nominee }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h3>Nominate someone for this badge</h3>
            <form action="" method="post">
                {% csrf_token %}
                <ul class="fields">
                    {{nomination_form.as_ul}}
                    <li><input type="submit" value="Nominate for badge" /></li>
                </ul>
            </form>
        </div>

    </div>
    
{% endblock %}
