{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Badge nomination" %}{% endblock %}

{% block body %}
    <h1>{% trans "Badge nomination" %}</h1>

    <div>
        <p>
            {{ nomination.nominee }} 
            has been nominated by
            {{ nomination.nominator }}
            for the badge
            "{{ nomination.badge.title }}"
        </p>

        <form action="" method="post">
            <fieldset><legend>Nomination decision</legend>
                {% csrf_token %}
                <ul class="fields">
                    {{decision_form.as_ul}}
                    <li class="submit">
                        {% if permissions.approval %}
                            <button type="submit" name="action_approve">Approve</button>
                        {% endif %}
                        {% if permissions.rejection %}
                            <button type="submit" name="action_reject">Reject</button>
                        {% endif %}
                    </li>
                </ul>
            </fieldset>
        </form>

    </div>
    
{% endblock %}
