{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Badge nomination" %}{% endblock %}

{% block body %}
    {% url profile_detail username=nomination.nominator.username as nominator_url %}
    {% url profile_detail username=nomination.approved_by.username as approved_by_url %}
    <h1>{% trans "Badge nomination" %}</h1>

    <div>
        <p>
            On {{ nomination.created_at }},
            <a href="{{ nominator_url }}">{{ nomination.nominator }}</a>
            nominated
            <a href="{{ nomination.nominee.get_absolute_url }}">{{ nomination.nominee }}</a>
            for the badge
            "<a href="nomination.badge.get_absolute_url">{{ nomination.badge.title }}</a>"
            because
            "{{ nomination.reason_why }}"
        </p>

        
        {% if not nomination.approved %}
            <form action="" method="POST" id="nomination-form" class="uniForm">
                {% csrf_token %}
                <fieldset class="inlineLabels">
                    {{ decision_form|as_uni_form }}
                    <div class="form_block">
                        {% if permissions.approval %}
                            <button type="submit" name="action_approve">Approve</button>
                        {% endif %}
                        {% if permissions.rejection %}
                            <button type="submit" name="action_reject">Reject</button>
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        {% else %}
            <p>
                On {{ nomination.updated_at }},
                <a href="{{ approved_by_url }}">{{ nomination.approved_by }}</a> approved this nomination 
                {% if nomination.approved_why %}
                    because "{{ nomination.approved_why }}"
                {% endif %}
            </p>
        {% endif %}

    </div>
    
{% endblock %}
