{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Badge nomination" %}{% endblock %}

{% block body %}
    <h1>{% trans "Badge nomination" %}</h1>

    <div>
        <p>
            {{ nomination.nominee }} 
            has been nominated by
            {{ nomination.nominator }}
            for the badge
            "{{ nomination.badge.title }}"
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="approve" />
            <input type="submit" value="Approve" />
        </form>
    </div>
    
{% endblock %}
