{% extends "site_base.html" %}
{% load cache %}
{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load avatar_tags %}
{% load badge_tags %}
{% load humanize i18n %}
{% load timezone_filters %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="{% trans "Recently Claimed Badges" %}" href="{% url badge_feed_recentawards %}" />
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

{% url acct_login as login_url %}
{% url acct_signup as signup_url %}

{% filter markdown %}{% blocktrans %}
# Welcome to Badger!

Badger thinks it would be nice to gift badges and track achievements for people
on the web. 

Do you know anyone who deserves a prize?
{% endblocktrans %}{% endfilter %}

<div class="main_activities clearfix">
    <h2>Things to see and do</h2>
    <ul class="activities">
        <li><a href="{% url badge_index %}">Browse available badges</a></li>
        <li><a href="{% url create_badge %}">Create a new badge</a></li>
        <li><a href="#">Redeem a claim code</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url profile_detail user %}">View your profile</a></li>
            <li><a href="{% url acct_email %}">Manage your settings</a></li>
        {% else %}
            {% if False %}
            <li><a href="{% url acct_login %}">Log in</a></li>
            <li><a href="{% url acct_signup %}">Sign up</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
    
<div class="recent_awards clearfix">
    <h2>Recently claimed badges <a href="{% url badge_feed_recentawards %}"><img src="{{ STATIC_URL }}badges/img/feed-icon-14x14.png" width="14" height="14" /></a></h2>
    <ul class="recent_awards">
        {% recent_badge_awards as recent_awards %}
        {% for award in recent_awards %}
            {% cache 500 homepage_recent_award award.id %}
            <li class="clearfix">

                <div class="when"><div>
                    {{ award.updated_at|naturalday:_("MONTH_DAY_FORMAT")|capfirst }} at {{ award.updated_at|localtime:account.timezone|time:"P" }}
                </div></div>

                <div class="avatar">
                    <a href="{{ award.claimed_by.get_absolute_url }}" class="photo" title="{{ award.claimed_by }}"><img src="{% avatar_url award.claimed_by 64 %}" alt="Photo of {{ award.claimed_by }}" class="photo" /></a>
                </div>

                <div class="action"><a href="{{ award.get_absolute_url }}">claimed</a></div>

                <div class="badge">
                    <a href="{{ award.badge.get_absolute_url }}" class="icon" title="{{ award.badge.title }}">{% badge_image award.badge 64 %}</a>
                </div>

            </li>
            {% endcache %}
            {% empty %}
            <p>None, yet.</p>
        {% endfor %}
    <ul>
</div>
{% endblock %}
