{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load avatar_tags %}
{% load badge_tags %}
{% load humanize i18n %}
{% load timezone_filters %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

{% filter markdown %}{% blocktrans %}
# Welcome to Badger!

Badger thinks it might be nice to gift badges and track achievements for people
on the web.

We'll see how well it manages to do this, hopefully with your help!
{% endblocktrans %}{% endfilter %}
    
<hr />
{% if user.is_authenticated %}
    {% url what_next as what_next_url %}
    <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>

{% else %}
    {% url acct_login as login_url %}
    {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
    {% endifsetting %}
{% endif %}

{% recent_badge_awards as recent_awards %}
<div>
    <h2>Recent awards</h2>
    <ul class="recent_awards">
        {% for award in recent_awards %}
            <li class="clearfix">

                <div class="when"><div>
                    {{ award.updated_at|naturalday:_("MONTH_DAY_FORMAT")|capfirst }} at {{ award.updated_at|localtime:account.timezone|time:"P" }}
                </div></div>

                <div class="avatar">
                    <a href="{{ award.nomination.nominee.get_absolute_url }}" class="photo"><img src="{% avatar_url award.nomination.nominee.user 64 %}" alt="Photo of {{ award.nomination.nominee.user }}" class="photo" /></a>
                    <a href="{{ award.awardee.user.get_absolute_url }}">{{ award.awardee.user }}</a>
                </div>

                <div class="action"><a href="{{ award.get_absolute_url }}">claimed</a></div>

                <div class="badge">
                    <a href="{{ award.badge.get_absolute_url }}" class="title">{{ award.badge.title }}</a>
                    <a href="{{ award.badge.get_absolute_url }}" class="icon">{% badge_image award.badge 64 %}</a>
                </div>

            </li>
        {% endfor %}
    <ul>
</div>
{% endblock %}
