{% load i18n %}
{% load account_tags %}
{% load badge_tags %}
{% awardee_display award.awardee as awardee_display %}
{% user_display award.nomination.nominator as nominator_display %}
{% url profile_detail username=approved_by.username as approved_by_url %}
{% url profile_detail username=award.nomination.nominator.username as nominator_url %}
{% blocktrans with award.awardee.get_absolute_url as awardee_url and award.awardee.display as awardee_display and award.get_absolute_url as award_url and award.badge.get_absolute_url as badge_url and award.badge.title as badge_title and award.reason_why as reason_why %}<a href="{{ awardee_url }}">{{ awardee_display }}</a> has ignored the badge <a href="{{ badge_url }}">{{ badge_title }}</a>.{% endblocktrans %}
